*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/libs.versions.updates.toml
/.idea/other.xml
.kotlin
/.idea/studiobot.xml
/.idea/runConfigurations.xml
/.idea/ktlint-plugin.xml
