<!--
  ~    Copyright 2023, Petr Laštovička as Lasta apps, All rights reserved
  ~
  ~     This file is part of Menza.
  ~
  ~     Menza is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     Menza is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with Menza.  If not, see <https://www.gnu.org/licenses/>.
  -->

<configuration debug="false">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>

        <encoder>
            <pattern>%highlight(%.-1level) %date{HH:mm:ss.SSS} [%30.30logger] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Turning down the wiremock logging -->
    <logger name="org.eclipse.jetty" level="ERROR" />
    <logger name="com.github.tomakehurst.wiremock" level="ERROR" />
    <logger name="wiremock.org" level="ERROR" />
    <logger name="WireMock" level="ERROR" />
    <!-- wiremock has per endpoint servlet logging -->
    <logger name="/" level="ERROR" />
    <logger name="/__admin" level="ERROR" />
    <!-- turning down htmlunit logging -->
    <logger name="com.gargoylesoftware.htmlunit" level="ERROR" />
    <logger name="org.apache.http" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="console" />
    </root>
</configuration>